:host {
  ma-card {
    --card-height: 200px;
    --card-min-height: 200px;
    
    ma-header {
      --header-border-style: none;
      --header-align-items: center;
      --header-padding: 10px;
    }
  }
}