:host {
  --card-border: 1px solid;
  --card-box-shadow: 0 1px 5px 1px #dce7f6;
  --card-border-color: #cccccc;

  --footer-border-style: none;

  ma-layout {
    --layour-row-gap: 10px;

    ma-header {
      --header-border-style: none;
      --header-height: auto;
      
      ul {
        display: flex;
        column-gap: 10px;
        list-style: none;
        padding: 0;

        li {
          width: fit-content;
          border: 1px solid;
          border-radius: 8px;
          padding: 5px;
        }
      }
    }

    ma-content {
      --content-padding: 0;

      .ps-content {
        grid-template-columns: 60% auto;
        column-gap: 30px;
        width: 100%;

        &--left, 
        &--right {
          display: grid;
          row-gap: 20px;
          column-gap: 20px;
        }

        &--left {
          grid-template-rows: auto 1fr;

          > section {
            display: grid;
            grid-template-columns: 60% auto;
            column-gap: 20px;
            height: 100%;
          }
        }

        &--right {
          grid-template-rows: auto 1fr;
        }
      }
    }
  }
}